<?xml version="1.0"?>
<robot name="Mi_Brazo">

  <!-- BASE FIJA -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="urdf/mesh/Base_Brazo_Robotico.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="urdf/mesh/Base_Brazo_Robotico.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <!-- JOINT BASE (rotación 360°) -->
  <joint name="base_joint" type="revolute">
    <parent link="base_link"/>
    <child link="base_rotation"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/> <!-- 80 mm = altura de la base fija -->
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="300" velocity="5"/>
  </joint>

  <!-- BASE ROTACIONAL -->
  <link name="base_rotation">
    <visual>
      <geometry>
        <mesh filename="urdf/mesh/Base_Rotacional.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="urdf/mesh/Base_Rotacional.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/>
    </inertial>
  </link>

  <!-- JOINT SHOULDER (hombro - arriba/abajo) -->
  <joint name="shoulder_joint" type="revolute">
    <parent link="base_rotation"/>
    <child link="link1"/>
    
    <!-- El origen está en la cara inferior de link1 (Z=0 en el componente) -->
    <!-- Solo sube la altura de la base rotacional (5 mm = 0.005 m) -->
    <origin xyz="0 0 0.045" rpy="0 0 0"/>
    
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="200" velocity="3"/>
  </joint>

  <!-- LINK1 (brazo superior) -->
  <link name="link1">
    <visual>
      <geometry>
        <mesh filename="urdf/mesh/Link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="silver">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="urdf/mesh/Link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="2"/>
      <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/>
    </inertial>
  </link>
  <!-- JOINT ELBOW (codo - arriba/abajo) -->
  <joint name="elbow_joint" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <!-- El origen está en la cara superior de link2 (Z=0 en el componente) -->
    <origin xyz="0.504 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.57" upper="1.57" effort="150" velocity="3"/>
  </joint>
  <!-- LINK2 (Codo) -->
  <link name="link2">
    <visual>
      <geometry>
        <mesh filename="urdf/mesh/Link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="silver">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="urdf/mesh/Link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
  </link>
</robot>